<p id="notice"><%= notice %></p>

<p>
  <h3><strong>Name:</strong>
  <%= @physician.name %></h3>
</p>

<p>
  <h3><strong>Speciality:</strong>
  <%= @physician.speciality %></h3>
</p>

<h3>
  <strong>Office Locations:</strong>
</h3>
<table id="showtable">
  <thead>
    <tr>
      <th>Street address</th>
      <th>Zip code</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @physician.offices.each do |office| %>
      <tr>
        <td><%= office.street_address %></td>
        <td><%= office.zip_code %></td>
        <td><%= office.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>
  <strong>Current Appointments:</strong>
</h3>
<table id="showtable">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Appointment Date</th>
      
    </tr>
  </thead>
  <tbody>
    <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.visit.to_formatted_s(:long) %></td>
        <td><%= appointment.patient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
